{% extends 'packages/base.html' %}
{% block title %}Confirm Your Hotel Booking Here {% endblock %}
<!--{% block bookings_active %}active{% endblock %} -->

{% block body %}
    <div class="container_fliud">

        <div class="row">

            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1> Book A Hotel : </h1>
                        <form class="form-horizontal"  role="form" action="" method="post">
                            {% csrf_token %}
                            {% include 'packages/form-template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success" style="width:20%">Submit</button>
                                    <br><br><br><br><br><br>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}